package current;
import battlecode.common.*;

public class Mopper {
    public static RobotController rc;
    public static void init(RobotController rc) {
        Mopper.rc = rc;
    }

    public static void run() throws GameActionException {
        Direction dir = {{ directions[0] }};
        MapLocation nextLoc = rc.getLocation().add(dir);
        if (rc.canMove(dir)){
            rc.move(dir);
        }
        if (rc.canMopSwing(dir)){
            rc.mopSwing(dir);
            System.out.println("Mop Swing! Booyah!");
        }
        else if (rc.canAttack(nextLoc)){
            rc.attack(nextLoc);
        }
    }
}