package current;
import battlecode.common.*;

/**
 * RobotPlayer is the class that describes your main robot strategy.
 * The run() method inside this class is like your main function: this is what we'll call once your robot
 * is created!
 */
public class RobotPlayer {
    @SuppressWarnings("unused")
    public static void run(RobotController rc) throws GameActionException {
        int hello = 1;
        int lol = 2;
        int hehe = 3;
        {% debug('hello', 'lol', 'hehe') %}
    }
}
