package current;
import battlecode.common.*;




public class RobotPlayer {
    @SuppressWarnings("unused")
    public static void run(RobotController rc) throws GameActionException {
        {%- macro generate_main_loop(classname) -%}
                while (true) {
                    try {
                        {{ classname }}.run();
                    } catch (GameActionException e) {
                        System.out.println("Exception = ");
                        e.printStackTrace();
                    } finally {
                        Clock.yield();
                    }
                }
        {%- endmacro %}
        switch (rc.getType()) {
            case SOLDIER: {
                {{ generate_main_loop('Soldier') }}
            }
            case MOPPER: {
                {{ generate_main_loop('Mopper') }}
            }
            case SPLASHER: {
                {{ generate_main_loop('Splasher') }}
            }
            default: break;
        }
    }
}
