package current;
import battlecode.common.*;
public class RobotPlayer {
    @SuppressWarnings("unused")
    public static void run(RobotController rc) throws GameActionException {
        {# This is technically unnecessary but this is the easiest way to get a reference to the controller #}
        Cache.init(rc);
        Globals.init(rc);
        Mopper.init(rc);
        Pathing.init(rc);
        Soldier.init(rc);
        Splasher.init(rc);
        Tower.init(rc);
        TileLoader.init(rc);
        SymmetryChecker.init(rc);
        Attack.init(rc);
        MopperAttack.init(rc);
        Explore.init(rc);
        RefuelManager.init(rc);
        TowerBuild.init(rc);
        SquareManager.init(rc);
        Harass.init(rc);
        Comms.init(rc);
        {%- macro generate_main_loop(classname) -%}
                while (true) {
                    try {
                        Cache.run();
                        TileLoader.load();
                        Globals.run();
                        SquareManager.run();
                        Attack.initTurn();
                        Harass.initTurn();
                        {{ classname }}.run();
                        SymmetryChecker.run();
                        Comms.run();
                    } catch (GameActionException e) {
                        System.out.println("Exception = ");
                        e.printStackTrace();
                    } finally {
                        Clock.yield();
                    }
                }
        {%- endmacro %}
        switch (rc.getType()) {
            {% for name in ['Soldier', 'Mopper', 'Splasher'] -%}
            case {{ name | upper }}: {
                {{ generate_main_loop(name) }}
            }
            {% endfor %}
            default: {
                {{ generate_main_loop('Tower') }}
            }
        }
    }
}
