{% import 'helpers/Utils.java.jinja2' as utils %}

package current;
import battlecode.common.*;

public class Soldier {
    public static RobotController rc;
    public static MapLocation home = null;
    public static MapLocation myloc;
    public static int paintCapacity = UnitType.SOLDIER.paintCapacity;
    public static int myPaint;
    public static MapLocation exploreTarget;
    public static void init(RobotController rc) {
        Soldier.rc = rc;
    }

    public static void run() throws GameActionException {
        // We do this every turn in the event the tower got destroyed when the unit was created.
        if (home == null) {
            RobotInfo[] robots = rc.senseNearbyRobots();
            for (int i = robots.length; --i >= 0; ) {
                RobotInfo robot = robots[i];
                switch (robot.type) {
                    case SOLDIER: continue;
                    case MOPPER: continue;
                    case SPLASHER: continue;
                    default:
                        home = robot.location;
                        break;
                }
            }
        }
        myloc = rc.getLocation();
        myPaint = rc.getPaint();

        if (myPaint <= (paintCapacity >> 1) && home != null) {
            rc.setIndicatorString("Refueling");
            Pathing.pathTo(home);
            int amt = paintCapacity - myPaint;
            if (rc.canTransferPaint(home, amt)) {
                rc.transferPaint(home, amt);
            }
        } else if (home != null) {
            if (exploreTarget == null || rc.getLocation().distanceSquaredTo(exploreTarget) <= 5) {
                exploreTarget = new MapLocation(
                    Globals.rng.nextInt(rc.getMapWidth()),
                    Globals.rng.nextInt(rc.getMapHeight())
                );
            }
            rc.setIndicatorString("Exploring to " + exploreTarget.x + " " + exploreTarget.y);
            Pathing.pathTo(exploreTarget);
        }


        // Lay paint where I am first.
        MapInfo currentTile = rc.senseMapInfo(myloc);
        if (!currentTile.getPaint().isAlly() && rc.canAttack(myloc)){
            rc.attack(myloc);
        }

        // Paint around me.
        {# MapLocation nextLoc;
        MapInfo nextLocInfo;
        RobotInfo unitInfo;
        loop: {
        {%- for direction in directions %}
            nextLoc = myloc.add({{ direction }});
            nextLocInfo = rc.senseMapInfo(nextLoc);
            if (rc.canAttack(nextLoc) && !nextLocInfo.getPaint().isAlly()) {
                rc.attack(nextLoc);
                break loop;
            }
        {% endfor -%}
        } #}
    }
}